/*--------SKILLS PAGE-------*/
.sky-wrapper {
  display: flex;
  height: 600px;
}
.stars-wrapper {
  min-width: 60%;
  height: 70%;
  display: flex;
}
.moon-wrapper {
  width: 1150px;
  margin: 28px 3% 0 0;
}
#moon {
  position: relative;
  float: right;
  fill: #f3f3d8;
  width: 100%;
  max-width: 500px;
  z-index: 1;
  pointer-events: none;
}
.star-wrapper {
  width: 6%;
}
.star-type {
  position: relative;
  fill: #fff;
  z-index: 1;
  padding: 15px;
  transition: padding .35s;
  -webkit-animation: glowing 4s infinite;
  -moz-animation: glowing 4s infinite;
  animation: glowing 4s infinite;

}
.star-type:hover {
  padding: 5px;
  filter: drop-shadow(0 0 10px rgba(255,255,255,1));
  cursor: pointer;
  -webkit-animation: rotation 8s infinite linear;
  -moz-animation: rotation 8s infinite linear;
  animation: rotation 8s infinite linear;
}
#star-one {
  width: 75px;
  margin: 15vh 0 0 3vw;
}
#star-two {
  width: 85px;
  margin: 29vh 0 0 5vw;
}
#star-three {
  width: 65px;
  margin: 2vh 0 0 7vw;
}
#star-four {
  width: 75px;
  margin: 40vh 0 0 14vw;
}
#star-five {
  width: 65px;
  margin: 14vh 0 0 14vw;
}
#star-six {
  width: 70px;
  margin: 5vh 0 0 24vw;
}
#star-seven {
  width: 75px;
  margin: 23vh 0 0 30vw;
}
#star-eight {
  width: 65px;
  margin: 35vh 0 0 32vw;
}#star-nine {
  width: 80px;
  margin: 15vh 0 0 44vw;
}

#skill-one {
  color: red;
}

#star-one:hover ~ #skill-one {
 color: #fff;
}
@keyframes glowing {
  0% { filter: drop-shadow(0 0 0 rgba(0,0,0,0)); }
  30% { filter: drop-shadow(0px 0px 10px rgba(255,255,255,1)); }
  60% { filter: drop-shadow(0px 0px 10px rgba(255,255,255,1)); }
  100% { filter: drop-shadow(0px 0px 10px rgba(255,255,255,0)); }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
