
.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.header {
  text-align: center;
  padding: 28px 0px 0px 0;
  border-bottom: 1px solid #bbb;
  margin-bottom: 25px;
  font: 2em 'Cairo', sans-serif;
}

.body-wrapper {
  margin: 0 8% ;
}

/*---Project Component---*/
.card {
  
}
.project-img {

}
.project-title {

}
.project-text {
  color: #555;
}

.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}