body {
  background: #444;
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
h2 {
  line-height: 1.4;
  margin-top: 1.5em;
}

.view a {
  color: #ff5252;
  text-decoration: none;
}

.view a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
}

@keyframes nav {
  from { opacity: 0; transform: translate3d(0, -25px, 0) }
  to { opacity: 1; transform: translate3d(0, 0, 0) }
}

nav {
  animation: nav 0.2s ease-in-out forwards;
  display: flex;
  background-color: #444;
  padding: 1em;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1em;
  }
}

nav a {
  color: white;
  font-weight: 400;
  font-size: 1.1em;
  margin: 0 .7em;
  letter-spacing: 0.1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
	text-decoration: none;
	color: red;
}

@keyframes navdot {
  from { opacity: 0; }
  to { opacity: 1; }
}

nav a:before {
  border-radius: 50%;
  content: '';
  background-color: #ff5252;
  left: 0;
  height: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
  width: 10px;
}

@media screen and (max-width: 768px) {
  nav a:before {
    bottom: 150%;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

nav a.active:before {
  animation: navdot 0.25s ease-in-out forwards 0.25s;
}

.with--accent {
  color: #ff5252;
  font-weight: 400;
}

.body-wrapper {
	background: #444;
	padding: 60px 8% 20px 8%;
  overflow: hidden;
}
.header {
	color: white;
 	text-align: center;
 	padding: 28px 0px 0px 0;
 	border-bottom: 1px solid #fff;
 	margin-bottom: 25px;
 	font: 2em 'Cairo', sans-serif;
 }
/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.pulsate-bck {
	-webkit-animation: pulsate-bck 2s ease-in-out infinite both;
	        animation: pulsate-bck 2s ease-in-out infinite both;
}

.anim-text {
	color: white;
	text-align: center;
	font-size: 12em;
  font-family: 'Bangers', cursive;
  line-height: 100%;
  margin-bottom: 100px;
  text-transform: uppercase;
}
#carousel-wrapper {
  margin-top: 14%;
  padding-bottom: 20px;
}
.carousel-item {
  transition-property: transform, opacity;
  transition-duration: .35s;
  transition-timing-function: ease-in-out;
}
.active.carousel-item-right, .carousel-item-next:not(.carousel-item-left){
  transform: rotate(90deg) translateX(100%);
  opacity: 0;
}
.active.carousel-item-left, .carousel-item-prev:not(.carousel-item-right){
  transform: rotate(-90deg) translateX(-100%);
  opacity: 0;
}
.carousel-caption {
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  bottom: 25px;
  text-transform: uppercase;
}
.carousel-indicators {
  margin-bottom: -10px;
}
.carousel-indicators li {
	height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 0 6px;
}
.carousel-indicators li:hover {
  background-color: #fff;
  opacity: 1;
}

@-webkit-keyframes carousel-item {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes carousel-item {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
            transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}


/*--------ABOUT PAGE-------*/
.about-wrapper {
  max-width: 700px;
  margin: 0 auto;
  z-index: 3;
  overflow: hidden;
}

.about-header {
  z-index: 8;
  opacity: 0;
  text-align: center;
  position: relative;
  font-family: 'IM Fell English SC';
  font-size: 48px;
  color: #eaeaea;
  margin-top: -40px;
  padding: 30px 10px 20px 10px;
}
.about-block-left {
  display: block;
  width: 50%;
  min-width: 250px;
  max-width: 380px;
  height: auto;
  margin: 25px auto;
  position: absolute;
  z-index: 8;
  right: 50%;
  top: 5%;
  cursor: pointer;
}
.about-block-right {
  display: block;
  width: 50%;
  min-width: 250px;
  max-width: 380px;
  height: auto;
  margin: 25px auto;
  position: absolute;
  z-index: 8;
  left: 50%;
  top: 5%;
  cursor: pointer;
}
.about-text-wrapper {
  position: relative;
  max-width: 695px;
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  padding: 0 30px 10px 30px;
  margin-top: 3px;
  margin-bottom: -12px;
  border-radius: 5px;
}
.about-text {
  padding: 15px 0;
  opacity: 0;
  color: #fff;
  font-size: 18px;
  z-index: 9;
}
.rope-line {
  display: flex;
  z-index: 10;
  width: 100%;
  height: auto;
  max-width: 750px;
  height: auto;
  opacity: 0;
  text-align: center;
  position: relative;
  margin: 0 auto;
}


.oceanwave-one {
  display: inline-block;
  overflow: hidden;
  left: -200px;
  z-index: 9;
  position: fixed;
  width: 2850px;
  margin: auto;
  bottom: -140px;
  -webkit-animation: oceanwave-right 5s ease-in-out infinite alternate both;
          animation: oceanwave-right 5s ease-in-out infinite alternate both;
}
.oceanwave-two {
  display: inline-block;
  overflow: hidden;
  left: 0px;
  z-index: 5;
  position: fixed;
  width: 2850px;
  margin: auto;
  bottom: -50px;
  -webkit-animation: oceanwave-left 7s ease-in-out infinite alternate both;
          animation: oceanwave-left 7s ease-in-out infinite alternate both;
}
.oceanwave-three {
  display: inline-block;
  overflow: hidden;
  left: -200px;
  z-index: 4;
  position: fixed;
  width: 2850px;
  margin: auto;
  bottom: 50px;
  -webkit-animation: oceanwave-right 5s ease-in-out infinite alternate both;
          animation: oceanwave-right 5s ease-in-out infinite alternate both;
}
.oceanwave-four {
  display: inline-block;
  overflow: hidden;
  left: 0px;
  z-index: 3;
  position: fixed;
  width: 2850px;
  margin: auto;
  bottom: 105px;
  -webkit-animation: oceanwave-left 7s ease-in-out infinite alternate both;
          animation: oceanwave-left 7s ease-in-out infinite alternate both;
                     
}
.bottle {
  width: 160px;
  position: fixed;
  margin: auto;
  bottom: 10px;
  left: 150px;
  z-index: 5;
  -webkit-animation: bottle-bob 3.2s ease-in-out infinite alternate both;
          animation: bottle-bob 3.2s ease-in-out infinite alternate both;
}
.bottle:hover {
  z-index: 7;
}
.bottle img {
  -webkit-animation: bottle-float 4.5s ease-in-out infinite alternate both;
          animation: bottle-float 4.5s ease-in-out infinite alternate both;
}

@-webkit-keyframes oceanwave-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@keyframes oceanwave-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}
@-webkit-keyframes oceanwave-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes oceanwave-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
@keyframes bottle-float {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(130px);
            transform: translateX(130px);
  }
}
@-webkit-keyframes bottle-float {
  0% {
    -webkit-transform: translateX(0, 0);
            transform: translateX(0, 0);
  }
  100% {
    -webkit-transform: translateX(130px);
            transform: translateX(130px);
  }
}
@keyframes bottle-bob {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}
@-webkit-keyframes bottle-bob {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}